.details-input input{
 width : 75%;
 border-radius: 5px;
 padding: 5px;
 padding-left: 10px;
 font-weight: 600;
 
}

.user-details input{
 width : 75%;
 border-radius: 5px;
 padding: 5px;
 padding-left: 10px;
 font-weight: 600;
 background-color: #EAF3FC;
}

.profile-image{
 border-radius: 160px 160px 160px 160px;
}

.profile-section-buttons button{
 margin-top: 20px;
 width: 50%;
 align-self: center;
 border-radius: 8px;
 background-color: rgb(177, 126, 245);
 padding: 10px;
 font-size: large;
 color: white;
 font-weight: 600;
}

